.navBar {
  background-color: #171717;
  color: #ededed;
  height: 100px;
  /* border-bottom: solid red 2px; */
}

.sign-up-button {
  font-size: 1rem;
  padding: 5px 0 0;
  color: #da0037;
}

.sign-up-button:hover {
  color: #ededed;
}

.watch-list-toggle {
  height: 40px;
  width: 40px;
  font-size: 1rem;
  color: #da0037;
  border: 1px solid #da0037;
  background-color: transparent;
  margin-left: 20px;
  border-radius: 4px;
}

.watch-list-toggle:hover {
  color: #fff;
  border: 1px solid #da0037;
  background-color: #da0037;
}
